<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<th:block th:insert="/includes/include.html :: bootstrap-css"></th:block>
	
	<style type="text/css">
		.labelAtivoSim {
			margin-right: 15px;
		}
	</style>
	
	<title>[[${titulo}]]</title>
</head>
<body>
	<div class="form" style="width: 500px">
		<form th:object="${cargo}" method="post">
			<div class="alert alert-danger" th:if="${#fields.hasErrors()}">
				<div th:each="msgErro : ${#fields.allErrors()}">
					[[${msgErro}]]<br>
				</div>
			</div>
			<div class="alert alert-success" th:if="${!#strings.isEmpty(msgSucesso)}">
				[[${msgSucesso}]]
			</div>
			
			<input type="hidden" th:field="*{id}">
			<div class="form-group row">
				<label for="descricao" class="col-sm-5 col-form-label">Descrição</label>
				<div class="col-sm-7">
					<input class="form-control" type="text" th:field="*{descricao}">
				</div>
			</div>
			<div class="form-group row">
				<label for="descricaoAbreviada" class="col-sm-5 col-form-label">Descrição abreviada</label>
				<div class="col-sm-7">
					<input class="form-control" type="text" th:field="*{descricaoAbreviada}">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-5 col-form-label">Situação</label>
				<div class="col-sm-7 mt-2">
					<input type="radio" th:field="*{ativo}" value="true"> <label class="labelAtivoSim" for="ativo1">Ativo</label>
					<input type="radio" th:field="*{ativo}" value="false"> <label for="ativo2">Inativo</label>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-7">
					<input class="btn btn-primary" type="submit" value="Salvar">
				</div>
			</div>
			
			<br><a href="/cargos/"><span style="font-size: 14pt">«</span> Voltar</a>
		</form>
	</div>

	<th:block th:insert="/includes/include.html :: bootstrap-js"></th:block>
</body>
</html>