<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<th:block th:insert="includes/include.html :: bootstrap-css"></th:block>
	
	<script type="text/javascript">
		var idFuncionario = 0;
		function setIdFuncionario(novoIdFuncionario) {
			idFuncionario = novoIdFuncionario;
		}
		function redirecionar() {
			window.location.href="/funcionarios/excluir/"+idFuncionario;
		}
	</script>
	
	<title>Funcionários</title>
</head>
<body>
	<div class="alert alert-danger" th:if="${!#strings.isEmpty(msgErro)}">
		[[${msgErro}]]
	</div>
	
	<table class="table table-bordered table-hover">
		<thead>
			<th>Matrícula</th>
			<th>Nome</th>
			<th>Cargo</th>
			<th>Departamento</th>
			<th>Cidade</th>
			<th>Empresa</th>
			<th colspan="2">Ações</th>
		</thead>
		<tbody>
			<tr th:if="${!#lists.isEmpty(funcionarios)}" th:each="funcionario : ${funcionarios}">
				<td>[[${funcionario.matricula}]]</td>
				<td>[[${funcionario.nome}]]</td>
				<td>[[${funcionario.cargo.descricao}]]</td>
				<td>[[${funcionario.departamento.nome}]]</td>
				<td>[[${funcionario.endereco.cidade}]]</td>
				<td>[[${funcionario.empresa.nome}]]</td>
				<td><a th:href="|/funcionarios/editar/${funcionario.id}|" class="btn btn-sm btn-outline-primary">Editar</a></td>
				<td><button th:href="|/funcionarios/excluir/${funcionario.id}|" class="btn btn-sm btn-outline-danger"
					data-toggle="modal" data-target="#confirmacaoExclusao" 
					th:onclick="'javascript:setIdFuncionario(\'' +${funcionario.id}+ '\');'">Exluir</button></td>
			</tr>
			<tr th:if="${#lists.isEmpty(funcionarios)}">
				<td colspan="7" style="font-style: italic;">Nenhum funcionário encontrado.</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-success" href="/funcionarios/inserir">Inserir Funcionário</a>
	<a class="btn btn-primary" href="/funcionarios/filtrar">Filtrar Funcionários</a>
	<br><br>
	<a href="/home"><span style="font-size: 14pt">«</span> Voltar</a>
	
	<!-- Modal de confirmação de exclusão -->
	<div class="modal fade" id="confirmacaoExclusao" tabindex="-1" role="dialog" aria-labelledby="confirmacaoExclusaoLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmacaoExclusaoLabel">Confirmação</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Confirma a exclusão?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary" onclick="redirecionar()">Sim, excluir</button>
				</div>
			</div>
		</div>
	</div>

	<th:block th:insert="includes/include.html :: bootstrap-js"></th:block>
</body>
</html>