<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Adicionar Funcionário</title>
</head>
<body>
	<form th:object="${funcionario}" th:action="@{/funcionarios/adicionar}">
		Matrícula: <input type="number" th:field="*{matricula}"><br>
		Nome: <input type="text" th:field="*{nome}"><br>
		CPF (apenas números): <input type="number" th:field="*{cpf}"><br>
		Data de Nascimento: <input type="date" th:field="*{dataNascimento}"><br>
		Cargo: 
		<select th:field="*{cargo}">
			<option value="">Selecione...</option>
			<option th:each="cargo : ${cargos}">[[${cargo.descricao}]]</option>
		</select><br>
		Empresa: 
		<select th:field="*{empresa}">
			<option value="">Selecione...</option>
			<option th:each="empresa : ${empresas}">[[${empresa.nome}]]</option>
		</select><br>
	</form>
</body>
</html>