<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<th:block th:insert="/includes/include.html :: bootstrap-css"></th:block>
	
	<title>Início</title>
</head>
<body>
	Olá <b>[[${session.funcionarioLogado.nome}]]</b>, bem-vindo(a)!
	<br><br>
	<a href="/funcionarios/">Manter Funcionários</a><br>
	<a href="/cargos/">Manter Cargos</a><br>
	<a href="/empresas/">Manter Empresa</a>
	<br><br>
	<a href="/sair">« Sair</a>
</body>
</html>